html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  color: #333333;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 20px;
}
