.hero2 {
  width: 1440px;
  display: flex;
  padding-bottom: 50px;

  &__left {
    padding-left: 120px;
    padding-top: 100px;
  }

  &__head {
    width: 321px;
    font-family: "Roboto";
    font-size: 72px;
    color: $grey;
    margin-bottom: 20px;
  }

  &__text {
    width: 577px;
    font-family: "Roboto";
    font-size: 18px;
    color: $nineF;
    margin-bottom: 110px;
  }

  &__list {
    width: 700px;
    justify-content: space-between;
    display: flex;
  }

  &__item--img {
    margin-bottom: 30px;
  }

  &__item--text {
    width: 193px;
    color: $grey;
    font-family: "Roboto";
    font-size: 18px;
    margin-bottom: -1px;
  }

  &__item--link {
    text-decoration: none;
    color: $grey;
  }

  &__right--img {
    margin-top: 50px;
    margin-left: 130px;
  }

  &__item--link:hover {
    text-decoration: none;
    color: $orange;
  }
}
