.wrapp2 {
  width: 1440px;
  padding-top: 50px;
  padding-bottom: 200px;

  &__top {
    width: 1440px;
    display: flex;
    margin-bottom: 20px;
  }

  &__top--img {
    transform: translateY(70px);
  }

  &__top--bg {
    width: 935px;
    height: 330px;
    background-image: url("/images/wrapp2__top--bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__top--object {
    transform: translateY(120px);
    margin-left: 270px;
  }

  &__head {
    transform: translateY(150px);
    margin-left: 130px;
    width: 348px;
    color: $grey;
    font-family: "Roboto";
    font-size: 45px;
  }

  //

  &__bottom {
    display: flex;
    // padding-bottom: 100px;
  }

  &__vektor {
    width: 42px;
    height: 60px;
    position: absolute;
    transform: translateY(200px);
    margin-left: 418px;
  }

  &__btn {
    position: absolute;
    margin-left: 790px;
    margin-top: 360px;
  }
}
